.footer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.text--footer {
    font-size: .8rem;
    line-height: 1.5;
    color: var(--color-white);
}

.text--footer-link {
    text-decoration: none;
    &:hover {
        color: var(--color-pink-accent);
    }
}