.footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.text--footer {
    font-size: .8rem;
    color: var(--color-white);
}

.text--footer-link {
    text-decoration: none;

    &:hover {
        color: var(--color-pink-accent);
    }
}

/* Responsive design for mobile and tablet */

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        gap: 0;
    }
}
