<section class="cv">
    <header class="cv__header">
        <h1 class="title--cv">Curriculum Vitae</h1>
        <p class="text--cv">
            Discover my professional journey, education, and skills. This CV provides an overview of my experience and qualifications.
        </p>
    </header>
    <main class="cv__main">
        <div class="bio">
            <div class="bio__content">
                <div class="bio__item bio__item--row-1">
                    <div class="bio__subgrid">
                        <div class="bio__subitem bio__subitem--1"></div>
                        <div class="bio__subitem bio__subitem--2"></div>
                    </div>
                </div>
                <div class="bio__item bio__item--2-1"></div>
                <div class="bio__item bio__item--2-2"></div>
                <div class="bio__item bio__item--3-1"></div>
                <div class="bio__item bio__item--3-2"></div>
            </div>
        </div>
    </main>
</section>