<section class="cv">
    <!-- Header -->
    <header class="cv__header">
        <h1 class="title--cv">Curriculum Vitae</h1>
        <p class="text--cv">
            Discover my professional journey, education, and skills. This CV provides an overview of my experience and
            qualifications.
        </p>
    </header>

    <!-- Main -->
    <main class="cv__main">
        <div class="bio">
            <div class="bio__content">
                <!-- Personal Bio -->
                <div class="bio__item bio__item--row-1">
                    <div class="bio__subgrid">
                        <div class="bio__subitem bio__subitem--1">
                            <p class="title--subitem-1">Hi, I'm {{ mappingCVData.personalInfo.name }}</p>
                            <p class="text--subitem-1">{{ mappingCVData.personalInfo.profession }}</p>
                        </div>
                        <div class="bio__subitem bio__subitem--2">
                            <home-sticky-label [text]="'Personal Bio'" />
                            <!-- <p class="text--bio text--bio--subitem-2">{{ mappingCVData.personalBio }}</p> -->
                        </div>
                        <div class="bio__subitem--image">
                            <img src="images/background/background-001.png" alt="Profile picture"
                                class="bio__subitem--image">
                        </div>
                    </div>
                </div>

                <!-- Experience -->
                <div class="bio__item bio__item--2-1">
                    <div class="section">
                        <home-sticky-label [text]="'Experience'" />
                        <div class="section__content">
                            @for (exp of mappingCVData.experience; track exp.year) {
                                <div class="section__item">
                                    <p class="section__year">{{ exp.year }}</p>
                                    <p class="section__subtitle">{{ exp.title }}</p>
                                    <p class="section__description">{{ exp.description }}</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Education -->
                <div class="bio__item bio__item--2-2">
                    <div class="section">
                        <home-sticky-label [text]="'Education'"></home-sticky-label>
                        <div class="section__content">
                            @for (edu of mappingCVData.education; track edu.years) {
                                <div class="section__item">
                                    <p class="section__year">{{ edu.years }}</p>
                                    <p class="section__subtitle">{{ edu.course }}</p>
                                    <p class="section__subtitle--institution">{{ edu.institution }}</p>
                                    <p class="section__description">{{ edu.note }}</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Hobbies -->
                <div class="bio__item bio__item--3-1">
                    <div class="section">
                        <home-sticky-label [text]="'Hobbies'"></home-sticky-label>
                        <div class="section__content section__content--hobbies">
                            @for (hobby of mappingCVData.hobbies; track hobby) {
                                <div class="hobby__item">
                                    <span class="hobby__icon">✨</span>
                                    <p class="hobby__text">{{ hobby }}</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Skills -->
                <div class="bio__item bio__item--3-2">
                    <div class="section">
                        <home-sticky-label [text]="'Skills'"></home-sticky-label>
                        <div class="section__content section__content--skills">
                            <ul class="skills__list">
                                @for (skill of mappingCVData.skills; track skill) {
                                    <li class="skills__item">{{ skill }}</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>