<section class="welcome">
    <div class="welcome__image-container">
        <img src="images/background/background-001.png" class="welcome__image" alt="Background"
            (mouseenter)="onImageHover()">
        @if (showDialogueBubble()) {
        <home-dialogue-bubble 
          [message]="dialogueText()"
        />
        }
    </div>
    <div class="welcome__button-container">
        <button class="welcome__button" (click)="onExplorarCvClick()">{{ buttonText() }}</button>
    </div>
</section>