<section class="welcome">
    <div class="welcome__image-container">
        <img src="images/background/background-001.png" class="welcome__image" alt="Background"
            (mouseenter)="onImageHover()">
        @if (showDialogueBubble()) {
        <home-dialogue-bubble 
          [message]="'👋 Welcome! I am Soledad, English teacher. Feel free to explore my professional profile.'"
        />
        }
    </div>
    <div class="welcome__button-container">
        <button class="welcome__button" (click)="onExplorarCvClick()">Explore CV</button>
    </div>
</section>