.dialogue-bubble {
  width: 100%;
  max-width: 25rem;
  max-height: 20rem;
  position: absolute;
  background: var(--color-white);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease-in-out;
  top: -2rem;
  right: -20rem;
  
  &__text {
    margin: 0;
    font-size: 2rem;
    color: var(--color-black);
    font-weight: bold;
  }
  
  &::after {
    content: '';
    position: absolute;
    bottom: -.8rem;
    left: 4rem;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--color-white);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}