.home {
    width: 50%;
    height: 100dvh;
    margin: 0 auto;
    padding: 2rem 0;
}

.home__section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.home__section-image-container {
    position: relative;
    max-height: 65%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .home__image {
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 0.5rem var(--color-white));
    }
}

.home__section-button-container {
    position: relative;
    top: -1rem;

    .home__button {
        background-color: var(--color-pink-accent);
        padding: 1rem 6rem;
        border: 0.5rem solid var(--color-pink);
        border-radius: 5rem;
        color: var(--color-white);
        font-size: 4rem;
        font-weight: bold;
        z-index: 2;

        &:hover {
            background-color: var(--color-pink);
            border-color: var(--color-pink);
            color: var(--color-pink-accent);
        }
    }
}