/*
  Archivo: styles.scss

  Este archivo contiene los estilos globales de la aplicación Angular.
  - Declaración de fuentes personalizadas utilizando @font-face. La fuente principal es "Inter", en variantes Regular y Bold.
  - Definición de variables CSS (custom properties) para la paleta de colores principales usando oklch para una mejor consistencia visual.
  - Normalización de estilos base:
    - Se define la fuente global para el body, priorizando Inter y fuentes del sistema.
    - Se eliminan los márgenes y rellenos por defecto.
    - Se ajusta el box-sizing en todos los elementos para facilitar el diseño.
  - Los estilos aquí declarados serán aplicados globalmente a toda la aplicación.
*/

/* Fonts */
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Colors */
:root {
  /* --font-text: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-title: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-accent: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */


  /* Colores base */
  --background: oklch(100% 0 0);
  --foreground: oklch(15% 0.05 250);
  --muted: oklch(96% 0.01 250);
  --muted-foreground: oklch(60% 0.02 250);

  --accent: oklch(96% 0.01 250);
  --accent-foreground: oklch(25% 0.03 250);

  --destructive: oklch(65% 0.2 25);
  --destructive-foreground: oklch(98% 0.01 250);

  --border: oklch(92% 0.01 250);
  --input: oklch(92% 0.01 250);
  --ring: oklch(15% 0.05 250);

  /* Colores primarios */
  --primary: oklch(25% 0.03 250);
  --primary-foreground: oklch(98% 0.01 250);

  --secondary: oklch(96% 0.01 250);
  --secondary-foreground: oklch(25% 0.03 250);
}

/* Global styles */

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--gray-900);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}