/*
  Archivo: styles.scss

  Este archivo contiene los estilos globales de la aplicación Angular.
  - Declaración de fuentes personalizadas utilizando @font-face. La fuente principal es "Inter", en variantes Regular y Bold.
  - Definición de variables CSS (custom properties) para la paleta de colores principales usando oklch para una mejor consistencia visual.
  - Normalización de estilos base:
    - Se define la fuente global para el body, priorizando Inter y fuentes del sistema.
    - Se eliminan los márgenes y rellenos por defecto.
    - Se ajusta el box-sizing en todos los elementos para facilitar el diseño.
  - Los estilos aquí declarados serán aplicados globalmente a toda la aplicación.
*/

/* Fonts */

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Colors */
:root {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);
}

/* Global styles */

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}