<header class="header">
    <div class="header__container">
        <div>
            @for (button of navigationButtonsHeader(); track button.icon; let i = $index) {
                @if (button.condition()) {
                    <app-tooltip [text]="button.ariaLabel" [position]="'right'">
                        <button 
                            class="header__button" 
                            [attr.aria-label]="button.ariaLabel" 
                            (click)="button.action()">
                            <lucide-icon [img]="button.icon" [size]="30"></lucide-icon>
                        </button>
                    </app-tooltip>
                }
            }
        </div>
        <div class="">
            <app-tooltip [text]="changeLanguageText()" [position]="'left'">
                <button class="header__button" [attr.aria-label]="changeLanguageText()" (click)="changeLanguage()">
                    <lucide-icon [img]="iconLanguages" [size]="30"></lucide-icon>
                    <span>{{ languageStore.getCurrentLanguage() === Enum_APP_LANGUAGE.ES ? 'ES' : 'US' }}</span>
                    </button>
                </app-tooltip>
            </div>
        </div>
    </header>