.header {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__button {
    background-color: transparent;
    color: var(--color-pink-accent);
    border: none;
    filter: drop-shadow(0 .1rem var(--color-pink));

    &:hover {
        cursor: pointer;
        color: var(--color-pink-accent);
        scale: 1.1;
        rotate: -10deg;
        transition: scale 0.3s ease;
    }
}