.header {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.header__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.header__button {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    color: var(--color-white);
    border: none;
    cursor: pointer;

    &:hover {
        color: var(--color-pink-accent);
        scale: 1.1;
        rotate: -10deg;
        transition: scale 0.3s ease;
    }
}